html {
}
body {
  font-family: helvetica, arial, sans-serif;
}
#site-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

site {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px
}

.headline-wrapper {
  display: inline-block;
  /*vertical-align: middle;*/
  margin-left: 20px;
}

.headline-wrapper > a {
  display: block;
}

section {
  margin: 0.5em 1em;
  padding: 1em;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.disclaimer {
  border: 1px solid #FFD700;
  font-size: 0.9em;
  background-color: #FFF4BD;
}

h2 {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}
