html {
  font-face: helvetica, sans-serif;
}
body {
  margin-left: auto;
  margin-right: auto;
}
img {
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

.headline-wrapper {
  display: inline-block;
  vertical-align: middle;
}

section {
  margin: 0.5em 1em;
  padding: 1em;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.disclaimer {
  border: 1px solid #FFD700;
  font-size: 0.9em;
  background-color: #FFF4BD;
}

h2 {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}
